body{
    background-image: url(img/hexellence.png);
}

a{
    color: #fff !important;
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

.wrapper{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.container{
    background-color: white;
    position: fixed;
    width: 400px;
    padding: 50px;
    font-size: 20px;
    -webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
    box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

input[type=number], input[type=text], .reset,  select{
    width:300px;
    background-color: #efefef;
    color: #666;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

select:focus,
input[type=number]:focus, input[type=text]:focus{
    -webkit-box-shadow: 0px 0px 10px 2px rgba(204,204,204,0.9);
    box-shadow: 0px 0px 10px 2x rgba(204,204,204,0.9);
}

.reset, .result{
    display: block;
    text-align: center;
    width: 100%;
    background-color: #36b03c;
    font-size: 20px;
    color: #fff;
    padding: 15px 10px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
}

.reset{
    background: #31B0D5;
    display: none;
}

.result:hover{
    background-color: #25c14d;
}

.alert {
    display: none;
}

.alert-success, .alert-danger, .alert-warning {
    display: block;
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media all and (max-width : 1200px) {
    .container{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }       
}

/* Medium Devices, Desktops */
@media all and (max-width : 992px) {
    .container{
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }   
}

/* Small Devices, Tablets */
@media (orientation: portrait) (max-width : 768px) {
    .container{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }   
}

/* Extra Small Devices, Phones */ 
@media (orientation: portrait) and (max-width : 480px) {
    .container{
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }   
}

/* Custom, iPhone Retina */ 
@media (orientation: portrait) and (max-width : 320px) {
    .container{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }   
}
@media (orientation: landscape) and (max-width : 768px) {
    .container{
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }   
}